*{
  margin: 0%;
  padding-block-start: 0%;
}

body {
  background-color: #7e8483;
    
  
}


div.container{
  display: flex;
  justify-content: space-evenly;

}

div.resultado{
  
}
  

.logo {
  
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', fantasy;
  text-shadow: #000 2px 2px 0.2rem;
}



.margem {
  padding: 2%;
  border-radius: 2px;
  background-color: rgb(71, 201, 205);

}

.mesmo-tamanho {
  border-radius: 100px;

}


#visor {
  font-family: 'Press Start 2P', cursive;
}

#historico {
  font-family: 'Press Start 2P', cursive;
}

#titulo {
  font-family: 'Lobster', cursive;
}

.borda {
  -webkit-box-shadow: 0 3px 9px black;
  box-shadow: 0 3px 3px rgb(0, 0, 0);
  border-radius: 20px
}

.centro {
  width: 500%;
  height: 1000%;
}


@media (max-width: 450px) {
  main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  main {
    margin-bottom: 30px;
  }
}